
#listejoueurs , #infojoueur, #palmares{

}
#principale{
  display: flex;
  height: 30em;
  padding-top: 0;
  background-image: url("../img/smite2.png");
  opacity: 1;



}

#big{
  background-image: url("../img/smite2.png");
}

#listejoueurs{
  flex: 1 1;
  margin-top: 0;
  border-right: 2px solid #ffbb33;



}
 #infojoueur{
   flex: 1 1;
   margin-top: 0;
  opacity: 1.0;
 }

#palmares{
  height: 20em;
  border-top: 2px solid #ffbb33;
}

.imgmatch{
  height: 5%;
  width: 5%;
  margin-left: 3%;
  margin-right: 3%;
}

.secmatch{
  display: flex;
}

.secmatch p {
  flex : 0 1;
  margin-left: 3%;
  margin-right: 3%;
}

#mainNav a {
  text-decoration: none;
}
#mainNav input:hover {
  color: red;
}
#mainNav input {
  margin-right: 90%;

}
#logoteam{
  margin-top : 1em ;
  height: 5em;
  width: 5em;
  display: flex;
}
#secliste{
  margin-top: 2em;
  margin-left: 3em;
  font-size: 2em;
}
#nomteam{
  font-size: 2em;
  margin-top: 0.75em;
  margin-left: 0.75em;
  border-bottom: 0.25em solid #b2b2ff;
  border-radius: 5px;

}

#logo-nom{
  margin-left: 2em;
    display: flex;
}
#nomjoueure{
  font-size: 2em;
  margin-top: 0.75em;
  margin-left: 0.75em;
  border-bottom: 0.25em solid #b20000;
  border-radius: 5px;
  color: #b20000;
}
#detailj{
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 3em;
  font-size: 1.5em;
}
#listepalma{
  margin-top: 1em;
  font-size: 1.5em;
  list-style-type: none;
}
#logojoueur{
  height: 6em;
  width: 6em;
  margin-top: 1em;
}
#joueur{
  display: flex;
  margin-left: 1em;
}

.secmatch{
    margin-left: 6em;
    margin-top: 2em;
    margin-bottom: 1.5em;
}
.reverseprogress{
  transform: rotate(180deg);
}

.moins::-moz-progress-bar {
    background: #FE1B00;
}

.plus::-moz-progress-bar{
    background: #00FF00;
}

h1 {
  font-weight: 900;
  font-family: impact;
}

#liste {
  list-style-type: none;
}

h2 {
  font-weight: bolder;
  float: left;
  margin: 0em;
}

/*#prenom,#nom,#anniversaire,#role,#originejoueur{
  background-color: #ff3232;
  color: white;
}*/
